.App {
    margin-left: 2rem;
    margin-right: 2rem;
}
.center-container {
    text-align: center;
}
.center-custom {
    margin-top: 4rem;
    /* max-width: 400px; */ 
    display: inline-block;
}

.table-custom {
    margin: 1em auto;
}

td div input {
    height: 1.75rem; /* 60px */
    width: 1.75rem; /* 60px */
    border: 1px solid;
    text-align: center;
}

.borderLeft-custom {
    border-left: solid;
}

.borderTop-custom {
    border-top: solid;
}

.borderRight-custom {
    border-right: solid;
}

.borderBottom-custom {
    border-bottom: solid;
}