.center {
  text-align: center;
}
.table {
  margin: 1em auto;
}
.td div input {
  height: 30px;
  width: 30px;
  border: 1px solid;
  text-align: center;
}

.borderLeft {
  border-left: solid;
}
.borderTop {
  border-top: solid;
}
.borderRight {
  border-right: solid;
}
.borderBottom {
  border-bottom: solid;
}
