.center-custom {
    text-align: center;
    margin : 4rem 0 0 0;
}

.table-custom {
    margin: 1em auto;
}

td div input {
    height: 1.75rem; /* 60px */
    width: 1.75rem; /* 60px */
    border: 1px solid;
    text-align: center;
}

.borderLeft-custom {
    border-left: solid;
}

.borderTop-custom {
    border-top: solid;
}

.borderRight-custom {
    border-right: solid;
}

.borderBottom-custom {
    border-bottom: solid;
}